body {
  color: white;
  background-color: aquamarine;
  background-image: url("images/background1.png");
  text-align: center;
}

#box-one {
  background-color: pink;
  outline: 4px solid yellow;
}

.portrait-grid {
  display: flex;
  justify-content: space-around;
}

.portrait-box {
  color: white;
  background-color: black;
  height: 25vw;
  width: 20vw;
  border: 0.2vw solid white;
}

.portrait-image {
  height: 20vw;
  width: 20vw;
}
