/* General rules */

body {
  color: white;
  background-color: aquamarine;
  background-image: url("images/background1.png");
  text-align: center;
}

button {
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: aqua;
}

/* Page heading */

header {
  border-bottom: 0.15rem solid white;
  margin-bottom: 2rem;
}

.header-title {
  font-size: 2.75rem;
}

/* Reducer component */

.portrait-row {
  display: flex;
  justify-content: space-around;
}

.portrait-box {
  color: white;
  background-color: black;
  height: 40rem;
  width: 22rem;
  border: 0.3rem solid white;
}

.portrait-box > h2 {
  font-size: 1.5rem;
}

.portrait-box > h3 {
  font-size: 1rem;
}

.portrait-image {
  height: 22rem;
  width: 22rem;
}

.deck-statuses {
  display: flex;
  justify-content: space-around;
}

.lifepoints-tool {
  background-color: black;
  border: 0.2rem solid white;
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin-left: 40%;
  padding: 1.2rem;
}

.lifepoints-tool > button {
  background-color: red;
  color: white;
  height: 4rem;
  border-radius: 50%;
}

#player-switch {
  background-color: blue;
  color: white;
  font-size: 1.6rem;
  padding: 0.8rem;
  border-radius: 50%;
}

#player-switch:hover {
  background-color: aqua;
}

.player-action {
  font-weight: 600;
  color: green;
  padding: 0.5rem;
}

.card-statuses {
  margin-top: 2.5rem;
}

.card-status {
  margin: 0.4rem;
}

/* Duelist radio options */

.RadioOption {
  font-size: 2rem;
  margin-right: 1rem;
  display: inline-block;
}

.RadioGroup {
  border: 0.4rem solid white;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.radio-submission-buttons {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

